<div class="row">
    <div class="col-xs-12">
        <img [src]='recipie.imagePath' class="img-responsive">
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{recipie.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
     <div class="button-group" appDropdown>
         <button type="button" class="btn btn-primary dropdown-toggle"> Manage Recepie
             <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
             <li><a href="#">To Shoping List</a></li>
             <li><a href="#">Edit Recepies</a></li>
             <li><a href="#">Delete Recepies</a></li>
         </ul>
     </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipie.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>